In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('fortune_2000_in_2021.csv')

In [3]:
df

,Rank,Name,Country,Sales,Profit,Assets,Market Value
0,1,ICBC,China,$190.5 B,$45.8 B,"$4,914.7 B",$249.5 B
1,2,JPMorgan Chase,United States,$136.2 B,$40.4 B,"$3,689.3 B",$464.8 B
2,3,Berkshire Hathaway,United States,$245.5 B,$42.5 B,$873.7 B,$624.4 B
3,4,China Construction Bank,China,$173.5 B,$39.3 B,"$4,301.7 B",$210.4 B
4,5,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$229.7 B,$49.3 B,$510.3 B,"$1,897.2 B"
...,...,...,...,...,...,...,...
1995,1996,JTEKT,Japan,$13.1 B,$-34.9 M,$12 B,$3.5 B
1996,1997,Insurance Australia Group,Australia,$5.4 B,$-212 M,$25 B,$9.3 B
1997,1997,Sumec Corporation,China,$13 B,$79.2 M,$7.1 B,$1.3 B
1998,1999,Gold Fields,South Africa,$3.9 B,$718.1 M,$7.5 B,$8.9 B
1999,1999,Paycom,United States,$841 M,$143.4 M,$2.6 B,$24 B

# Business Questions

### - The dataset is a list of the fortune 2000 companies globally with results from 2021.
The questions below focus on 3 areas of interest
- Countries - which countries appear most in the list for various metrics.
- Profit and profit to sales comparison 
- Assets - which companies have the most assets (and which country they are in.)

**BY COUNTRY**

1. Which countries have the highest number of companies in the list?
2. What share of companies on the list do the big two (USA and China) have in comparison to the rest of the world?
3. Which countries have the highest number of companies in the list that turned a profit in 2021?
4. Which countries have the fewest number of companies in the list that turned a profit in 2021? 

**BY PROFIT TO SALES**

5. Which of the 10 companies with the highest profit have the best profit to sales ratio?

**BY ASSETS**

6. What are the top 20 companies in terms of assets?